.letter-display {
	font-size: 100pt;
}

.draw-division {
	display: flex;
	flex-direction: row;
	column-gap: 1em;
}

.draw-body {
	min-width: 65%;
}

.draw-section {
	align-items: center;
	display: flex;
	flex-direction: column;
}

.draw-button {
	min-height: 4rem;
	min-width: 4rem;
}

.draw .teams {
	display: flex;
	flex-wrap: wrap;
	column-gap: 5em;
	row-gap: 3em;
	margin-top: 3em;
}

.draw .three-rooms {
	max-width: 12rem;
}

.draw ul {
	list-style: none;
}

.draw .team-display {
	display: flex;
}

.draw div.letter {
	min-width: 4em;
}

.draw div.team {
	min-width: 15em;
}

.draw .teams ul,
.draw .teams li {
	border: 1px solid black;
	padding-inline-start: 0px;
}

.draw .button-section {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.tabs {
	padding: 1.5rem;
	border: solid lightgrey;
	border-width: 1px;
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
}

.tabs ul {
	border-bottom: 1px solid lightgrey;
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin-bottom: 0;
	padding-left: 0;
}

.tabs li {
	display: list-item;
}

.tabs button {
	margin-bottom: -1px;
	background: 0 0;
	border: 1px solid transparent;
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
	display: block;
	padding: 0.5rem 1rem;
	text-decoration: none;
}

.tabs button.active,
.tabs button.active:hover {
	border-color: lightgrey lightgrey white;
}

.tabs button:hover {
	border-color: rgb(211, 211, 211, 0.75);
}

.tabs input {
	max-width: 6em;
}

@media (max-width: 768px) {
	.draw-division {
		flex-direction: column;
		row-gap: 1em;
	}
}
