.ladder-display td {
	outline: 1px solid black;
	border-collapse: collapse;
	padding: 0.5em;
}

.multi-ladder-display {
	display: flex;
	column-gap: 1em;
	flex-wrap: wrap;
}

.ladder-display .displayed-ladder {
	break-inside: avoid;
}

.ladder-display .room-cell {
	white-space: pre-line;
	min-width: 5em;
	padding-left: 1em;
}

.ladder-display ul {
	padding-inline-start: 1.2em;
}

.ladder-display ul li .team-display {
	display: flex;
	justify-content: space-between;
}

.ladder-display ul li input {
	max-width: 3em;
}

@media print {
	.ladder-display button {
		display: none;
	}
}

@media (prefers-color-scheme: dark) {
	.ladder-display td {
		outline: 1px solid #e3ccae;
	}
}
