.ladder-display td {
	outline: 1px solid black;
	border-collapse: collapse;
	padding: 0.5em;
}

.multi-ladder-display {
	display: flex;
	column-gap: 1em;
	flex-wrap: wrap;
}

.ladder-display .displayed-ladder {
	break-inside: avoid;
}

.ladder-display .room-cell {
	white-space: pre-line;
	min-width: 5em;
	padding-left: 1em;
}
