.score-sheet .total-scores {
	position: sticky;
	top: 75px;
	z-index: 999;
}

.score-sheet .current-tossup-header {
	position: sticky;
	top: 170px;
	z-index: 999;
}

@media (min-width: 768px) {
	.score-sheet .current-tossup-header {
		top: 155px;
	}

	.score-sheet .total-scores {
		position: sticky;
		top: 75px;
	}
}
