.score-sheet .teams {
	padding: 0;
}

.score-sheet .score-sheet-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.score-sheet .team-select-item {
	list-style-type: none;
	display: flex;
	margin: 0.5em 0;
	align-items: center;
	justify-content: flex-start;
	column-gap: 1em;
}

.score-sheet .team-select-item label {
	width: 20%;
}

.score-sheet .team-assignment {
	width: 50%;
	outline: 1px solid;
	padding: 0.25em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.score-sheet .team-assignment .button-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.score-sheet .team-assignment .direction-button {
	border-radius: 0;
	width: 1.5em;
	font-size: 18pt;
}

.score-sheet .team-select-item button {
	width: 20%;
}

.players .players-table td {
	padding: 0.25em 0.5em;
}

.players .done-button {
	margin-top: 1em;
	font-size: 16pt;
	padding: 0.5em;
}

.score-sheet .total-scores {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 1em 0;
	position: sticky;
	top: 102.25px;
}

.score-sheet .total-scores .team-total-score {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	font-size: 18pt;
}

.score-sheet .total-scores .team-total-score .letter {
	font-weight: bold;
}

.score-sheet .questions-table {
	width: 95%;
	font-size: 16pt;
}

.score-sheet .questions-table .buzzer {
	margin-right: 0.5em;
}

.score-sheet .questions-table .buzzer.correct {
	font-weight: bold;
}

.score-sheet .questions-table .buzzer.incorrect {
	text-decoration: line-through;
}

.score-sheet .questions-table td,
.score-sheet .questions-table th {
	outline: 1px solid;
	border-collapse: collapse;
	padding: 0.5em;
}

.score-sheet .questions-table td {
	text-align: center;
}

.score-sheet .current-tossup {
	margin-bottom: 1em;
}

.score-sheet .current-tossup-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: sticky;
	top: 185px;
	margin-top: 1em;
}

.score-sheet .buzzer-section {
	display: flex;
	flex-wrap: wrap;
	margin: 1em 0;
}

.score-sheet .current-tossup.buzzed button {
	font-size: 16pt;
	padding: 0.5em;
	margin: 1em;
}

.score-sheet .buzzer-section .buzzer-button {
	font-size: 14pt;
	padding: 1em;
	margin: 0.5em;
}

.score-sheet .question-nav-button {
	font-size: 18pt;
	padding: 0.5em;
	margin: 0.5em;
}

.bonus-checkbox-label {
	font-size: x-large;
}

.bonus-checkbox,
.correct-checkbox {
	width: 25px;
	height: 25px;
}

.buzz-dropdown {
	min-height: 50px;
	min-width: 75px;
	font-size: inherit;
}

@media (min-width: 768px) {
	.score-sheet .total-scores {
		top: 0;
	}

	.score-sheet .current-tossup-header {
		top: 75px;
	}
}
