.list-of-ladders {
	display: flex;
	flex-wrap: wrap;
	gap: 2em;
}

.ladder-item {
	display: flex;
	justify-content: space-between;
	max-width: 25em;
}

.ladder-list-item:nth-child(odd) {
	background-color: lightgrey;
}

.ladder-list-item:nth-child(even) {
	background-color: lightblue;
}

.ladder-info-section {
	padding: 1em;
	border: 1px solid black;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	column-gap: 2em;
	row-gap: 1em;
}

.delete-ladder-button-section button {
	margin: auto;
	height: 100%;
}
