.Sidebar {
	background-color: #282c34;
	min-height: 100vh;
	padding-top: 20px;
	padding-right: 20px;
	min-width: 12em;
}

@media print {
	.Sidebar {
		display: none;
	}
}

.Sidebar a {
	color: #61dafb;
	text-decoration: none;
	font-size: 18pt;
}

.Sidebar a:hover {
	color: white;
}

.Sidebar ul {
	list-style-type: none;
}

.Sidebar li {
	margin-bottom: 1rem;
}
