.Sidebar {
	background-color: #282c34;
	padding-right: 20px;
}

@media print {
	.Sidebar {
		display: none;
	}
}

.Sidebar a {
	color: #61dafb;
	text-decoration: none;
	font-size: 18pt;
}

.Sidebar a:hover {
	color: white;
}

.Sidebar ul {
	list-style-type: none;
}

.Sidebar li {
	margin-bottom: 1rem;
}

@media (min-width: 768px) {
	.Sidebar {
		min-height: 100vh;
		padding-top: 20px;
		min-width: 12em;
	}
}

@media (max-width: 768px) {
	.sidebar-mobile-hidden {
		display: none;
	}

	.sidebar-mobile-visible {
		position: fixed;
		left: 10;
		top: 10;
	}
}

@media (prefers-color-scheme: dark) {
	.Sidebar,
	.Sidebar * {
		background-color: #262a56;
	}

	.Sidebar a {
		color: #b8621b;
	}
}
