.App-header {
	background-color: #282c34;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

@media print {
	.App-header {
		display: none;
	}

	.hide-print {
		display: none;
	}
}

.App-page {
	margin: 2rem;
}

.radio-group {
	display: flex;
	flex-wrap: wrap;
	column-gap: 3rem;
	row-gap: 0.5rem;
}

.form-field label {
	margin-right: 1rem;
}

.form-field {
	margin: 1rem 0;
}

.data-display .description {
	font-size: 80%;
	font-style: italic;
	color: rgba(0, 0, 0, 0.6);
}

.error {
	color: lightcoral;
}
