* {
	font-family: "Roboto", "Helvetica Neue", "sans-serif";
}

.App-header {
	background-color: #282c34;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.print-only {
	display: none;
}

@media print {
	.App-header {
		display: none;
	}

	.hide-print {
		display: none;
	}

	.print-only {
		display: block;
	}

	button {
		display: none;
	}
}

.App-page {
	margin: 2rem;
}

input[type="text"],
input[type="number"],
select,
textarea {
	padding: 0.2rem 0.5rem;
	border-radius: 10px;
}

button {
	border-radius: 15px;
	padding: 0.5em;
}

button.link-button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

button.link-button:hover,
button.link-button:active {
	font-weight: bold;
}

.radio-group {
	display: flex;
	flex-wrap: wrap;
	column-gap: 3rem;
	row-gap: 0.5rem;
}

.form-field label {
	margin-right: 1rem;
}

.form-field {
	margin: 1rem 0;
}

.data-display .description {
	font-size: 80%;
	font-style: italic;
	color: rgba(0, 0, 0, 0.6);
}

.error {
	color: rgb(34, 16, 16);
}

.success {
	color: darkgreen;
}

.failure {
	color: darkred;
}

.menu-btn {
	background-color: #282c34;
	color: white;
	outline: 1px solid white;
	box-shadow: none;
	font-weight: bold;
}

.menu-btn:hover {
	background-color: #393d45;
}

@media (min-width: 768px) {
	.mobile-only {
		display: none;
	}

	* {
		font-size: 14pt;
	}

	h1 {
		font-size: 18pt;
	}

	h2 {
		font-size: 17pt;
	}

	h3 {
		font-size: 16pt;
	}

	h4 {
		font-size: 15pt;
	}
}

@media (max-width: 768px) {
	header.App-header {
		position: fixed;
		width: 100%;
	}
}

@media (prefers-color-scheme: dark) {
	* {
		background-color: black;
		color: #e3ccae;
	}

	.App-header,
	.App-header * {
		background-color: #262a56;
	}

	input[type="text"] {
		background-color: #393d45;
	}

	.menu-btn {
		outline: 1px solid #e3ccae;
	}

	.data-display .description {
		font-size: 80%;
		font-style: italic;
		color: rgba(227, 204, 174, 0.6);
	}

	.error {
		color: #e3ccae;
	}

	button {
		background-color: #212121;
	}

	button:disabled {
		background-color: #111;
		color: grey;
	}

	.success {
		color: lightgreen;
	}

	.error {
		color: lightcoral;
	}
}
