.print-only {
	display: none !important;
}

@media print {
	.App-header {
		display: none !important;
	}

	.hide-print {
		display: none !important;
	}

	.print-only {
		display: block !important;
	}

	button {
		display: none !important;
	}
}
